.homepage {
    background: url("../img/background.png");
    background-repeat: no-repeat;

    @include tabletLandscape {
        background-size: cover;
    }

    .wrapper {
        padding-top: 70px; 
    }
}
